.kind-container {
    background: #151515;
    width: 50vw;
    padding: 1.4vh 1.8vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 19px;    
}
.kind-container > .kind{
    padding: 20px;
    margin: 1vh 1vw;
    background: #2d2d2d;
    font-size: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 100ms;
    user-select: none;
}
.kind-container > .kind:hover {
    filter: brightness(0.8);
}