:root{
  --main-bg: #1F1F1F
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, #root, .App {
  width:100vw;
  height:100vh;
  background: var(--main-bg);
  color: white;
  display: grid;
  place-items: center;
}